.dateRangePicker__pickers > * {
  margin-bottom: 15px;
}

.dateRangePicker__range {
  font-family: sans-serif;
  color: #646478;
  text-align: center;
}

@media (min-width: 768px) {
  .dateRangePicker__pickers {
    display: flex;
  }

  .dateRangePicker__pickers > *:first-child {
    margin-right: 15px;
  }
}

.datePicker {
  width: 280px;
  font-family: sans-serif;
  color: #646478;
  user-select: none;
}

.datePicker__header {
  display: flex;
  align-items: center;
}

.datePicker__body {
  display: flex;
  flex-wrap: wrap;
}

.datePicker__monthAndYear {
  flex: 1;
  text-align: center;
}

.datePicker__arrow,
.datePicker__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.datePicker__arrow:hover {
  cursor: pointer;
  color: #9393a1;
}

.datePicker__day:not(.datePicker__day_empty):not(.datePicker__day_disabled):hover {
  cursor: pointer;
  border: 1px solid #9393a1;
}

.datePicker__day_selected {
  background-color: #f26126;
  color: #fff;
}

.datePicker__day_inner {
  background-color: #f26126;
  color: #fff;
  opacity: 0.5;
}

.datePicker__day_disabled {
  background-color: #9393a1;
  color: #fff;
  opacity: 0.5;
}
