.datePicker {
  width: 280px;
  user-select: none;
  font-family: sans-serif;
  color: #646478;
}

.datePicker__header {
  display: flex;
  align-items: center;
}

.datePicker__body {
  display: flex;
  flex-wrap: wrap;
}

.datePicker__monthAndYear {
  flex: 1;
  text-align: center;
}

.datePicker__arrow,
.datePicker__day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  padding: 0;
  border: 0;
  background-color: transparent;
  outline: none;
  font-family: sans-serif;
  font-size: 16px;
  color: #646478;
}

.datePicker__arrow:hover,
.datePicker__arrow:focus {
  cursor: pointer;
  color: #f26126;
}

.datePicker__day:not(.datePicker__day_disabled):hover,
.datePicker__day:not(.datePicker__day_disabled):focus {
  cursor: pointer;
  border: 1px solid #9393a1;
}

.datePicker__day_selected {
  background-color: #f26126;
  color: #fff;
}

.datePicker__day_disabled {
  background-color: #9393a1;
  color: #fff;
  opacity: 0.5;
}
